/*----- GENERAL ---------*/
.container {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 130px 20px 20px 20px;
}

article {
  flex: 1;
  padding: 20px;
  max-width: 300px;
  box-sizing: border-box;
}

.text-link {
  color: black;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 590px;
  padding-left: 40px;
  background-color: black;
  color: lightgray;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 16px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

/*------- HEADER ---------*/

.header-logo {
  height: 100px;
  object-fit: cover;
}

header {
  background-color: black;
  height: 100px;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background-color: black;
  border-radius: 5px;
  border: none;
  width: 200px;
  color: lightgrey;
  font-size: 20px;
  cursor: crosshair;
}

header button:hover {
  color: #ed171e;
  font-size: 25px;
  transition: 0.4s;
}

/*----- HOME ------*/

.home-text {
  line-height: 50px;
  font-size: 30px;
  padding: 100px;
}

/*------ CHARACTERS ---------*/
.img {
  border-radius: 5px;
}
